$color: rgba(119, 119, 119, 0.8);
$color-title: rgb(119, 119, 119);

.Introduce__body {
    margin-bottom: 4rem;
}

.Introduce__icon{
    width: 3rem;
    margin-bottom: 0.6rem;
    filter: opacity(0.5);
}

.Introduce__title {
    color: $color-title;
}

.Introduce__text {
    color: $color;
}

.Introduce__link {
    &:hover {
        text-decoration: none;
    }
}