
.Text--while {
    color: white !important;
}

.Uppercase {
    text-transform: uppercase !important;
}

.Font--bold {
    font-weight: 500;
 }

.Text--smaill {
    font-size: 0.8rem;
}

.Text--center {
    text-align: center;
}

.Capitalize {
    text-transform: capitalize;
}

.Link--secondary {
    color: rgba(0, 0, 0, 0.6);

    &:hover {
        color: rgba(0, 0, 0, 0.6);
    }
}

.Dl--block {
    display: block;
}

.Mb--half {
    margin-bottom: 0.5rem;
}