
$font-quote: 'Arima Madurai', cursive;
$font-text: 'Roboto', sans-serif;
$color-bg01: #f2f2f2;
$color-bg02: #3f4a4e;

:root {
    font-family: $font-text;
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@import './navbar';
@import './headerOverlay';
@import './session';
@import './_titleGroup.scss';
@import './blogIntroduce';
@import './blogGalley';
@import './blogDetail';
@import './commentClient';
@import './blogNews';
@import './button';
@import './styleTotal';
@import './footer';
@import './pagination';
@import './contact';
@import './queries';