:root {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.Navbar {
  font-weight: 600;
  background: transparent;
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 1rem 3rem; }

.Navbar__direct {
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0; }

.Navbar__logo, .Navbar__logo--red {
  font-size: 1.5rem;
  font-weight: 700;
  color: white; }
  .Navbar__logo:hover, .Navbar__logo--red:hover {
    text-decoration: none;
    color: white; }

.Navbar__direct {
  background-color: transparent; }

.Navbar__btn {
  color: white;
  background-color: inherit;
  border: none;
  font-size: 1.7rem;
  outline: none !important; }

.Navbar__logo--red {
  color: red; }

.Navbar__item {
  display: flex;
  padding: 0.75rem 1.2rem;
  transition: 0.3s; }
  .Navbar__item > a {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
  .Navbar__item > a:hover {
    text-decoration: none;
    color: rgba(242, 242, 242, 0.8); }

.Dropdown__menu {
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 0rem;
  padding: 0.5rem 0rem;
  border-radius: 0.3rem;
  background-color: #fff; }
  .Dropdown__menu::before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px; }

.Dropdown__item {
  display: block;
  color: #777777;
  padding: 0.2rem 2rem;
  transition: 0.3s; }
  .Dropdown__item:hover {
    text-decoration: none;
    color: #f2f2f2;
    background-color: #777777; }

.position--relative {
  position: relative !important; }

.display--block {
  display: block !important; }

.Header__overlay {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("../img/bg-header-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Header__overlay::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }

.overlay__text {
  color: white;
  text-align: center;
  font-style: 2rem;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  position: absolute;
  letter-spacing: 0.2rem;
  text-shadow: 3px 3px 20px #000; }

.session__background {
  background-color: #f2f2f2; }

.session__background02 {
  background-color: rgba(63, 74, 78, 0.1); }

.session__background03 {
  background-color: rgba(42, 54, 59, 0.9); }

.session__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7rem;
  padding-bottom: 7rem; }

.session__context {
  display: flex;
  flex-wrap: wrap; }

.titleGroup {
  text-align: center;
  margin-bottom: 5rem; }

.title__sup {
  color: rgba(119, 119, 119, 0.8);
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem; }

.title {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem; }

.title__sub {
  color: rgba(119, 119, 119, 0.8);
  font-size: 1.25rem; }

.Introduce__body {
  margin-bottom: 4rem; }

.Introduce__icon {
  width: 3rem;
  margin-bottom: 0.6rem;
  filter: opacity(0.5); }

.Introduce__title {
  color: #777777; }

.Introduce__text {
  color: rgba(119, 119, 119, 0.8); }

.Introduce__link:hover {
  text-decoration: none; }

.Galley__item {
  height: auto;
  max-height: 250px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 3rem; }
  .Galley__item:hover .Galley__title {
    opacity: 1;
    padding-bottom: 1rem; }
  .Galley__item:hover .Icon__Discount {
    transform: scale(1.2); }

.Galley__title {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
  height: 100%;
  width: 100%;
  margin: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
  opacity: 0; }

.Icon__Discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa501;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 0px;
  transform: rotate(325deg) scale(0.7) translatex(-0.5rem) translateY(-3rem);
  transition: 0.4s; }

.Discount__text {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  transform: translateY(0.25rem); }

.Discount__number {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  transform: translateY(-0.25rem); }

.Detail__body {
  padding: 0rem 1rem;
  margin-bottom: 4rem;
  transition: 0.4s; }
  .Detail__body:hover {
    transform: scale(1.05); }

.Detail__datePrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3); }

.Comment__Body {
  margin-bottom: 4rem;
  background-color: white;
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  position: relative;
  transition: 0.4s; }
  .Comment__Body::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    position: absolute;
    bottom: -30px;
    left: 80px; }
  .Comment__Body:hover {
    transform: scale(1.05); }

.Icon-Quote {
  width: 0.4rem;
  margin-bottom: 0.8rem;
  filter: opacity(0.7); }

.Comment__avatar {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 1rem; }

.Comment__cite {
  text-transform: capitalize;
  font-size: 0.9rem;
  color: rgba(119, 119, 119, 0.8); }

.BlogNews {
  background-color: white;
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  transition: 0.4s; }
  .BlogNews:hover {
    transform: translateY(-20px); }

.Blog__date {
  color: rgba(119, 119, 119, 0.7);
  text-transform: uppercase;
  font-size: 0.8rem; }

.Blog__img {
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem; }

.Blog__title {
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  color: #4497e7; }
  .Blog__title:hover {
    text-decoration: none; }

.Blog__text {
  color: #777777; }

.Btn {
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  outline: none !important;
  text-transform: capitalize;
  transition: 0.3s; }
  .Btn:active {
    transform: scale(0.9); }
  .Btn:hover {
    transform: scale(1.1); }

.Btn--red {
  background-color: #f35f55;
  color: white; }
  .Btn--red:hover {
    color: white; }

.Btn--dark {
  background-color: rgba(0, 0, 0, 0.6); }

.Btn--primary {
  background-color: #0C9CEE;
  color: white; }

.Text--while {
  color: white; }

.Text--muted {
  color: rgba(0, 0, 0, 0.6); }

.Text--sale {
  color: #ffa501; }

.Link:hover {
  text-decoration: none; }

.Link--primary {
  color: #0C9CEE; }
  .Link--primary:hover {
    text-decoration: none; }

.Uppercase {
  text-transform: uppercase !important; }

.Font--bold {
  font-weight: 500; }

.Text--small {
  font-size: 0.8rem; }

.Text--center {
  text-align: center; }

.Capitalize {
  text-transform: capitalize !important; }

.Link--secondary {
  color: rgba(0, 0, 0, 0.6); }
  .Link--secondary:hover {
    text-decoration: none;
    color: #0C9CEE; }

.Dl--block {
  display: block; }

.Mb--half {
  margin-bottom: 0.5rem; }

.Mr--half {
  margin-right: 0.5rem; }

.Content--center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }

.Footer__history {
  padding: 0rem 2rem;
  margin-bottom: 5rem; }

.Footer__logo {
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem; }

.Footer__link {
  padding-top: 1rem;
  padding-left: 2rem; }

.Footer__contact {
  flex-direction: column;
  width: 100%;
  align-content: center;
  display: flex; }

.Footer__iconGroup {
  display: flex;
  justify-content: space-between; }

.Footer__icon {
  height: 1.3rem;
  filter: opacity(0.5);
  transition: 0.4s; }
  .Footer__icon:active {
    transform: scale(0.9); }
  .Footer__icon:hover {
    transform: scale(1.1); }

.Footer__button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem; }

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebeced;
  padding-bottom: 5rem; }

.Contact__title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 2rem; }

.Contact__icon {
  margin-right: 1rem; }

.Contact__getInformation, .Contact__information {
  margin-bottom: 4rem; }

.Contact__getInformation {
  padding: 0rem 4rem; }

.Contact__inputGroup {
  display: flex;
  flex-wrap: wrap; }

.Input__group {
  margin-bottom: 1rem; }

.Input__label {
  text-transform: capitalize;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem; }

.Input__text {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  outline: inherit; }

@media only screen and (min-width: 768px) {
  .Navbar__btn {
    display: none; } }

@media only screen and (max-width: 991px) {
  .Navbar__btn {
    display: none; }
  .Contact__getInformation {
    padding: 0rem 1rem; }
  .Contact__item {
    padding: 0rem 1rem; } }

@media only screen and (max-width: 767px) {
  .Navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px; }
  .Navbar__btn {
    display: block;
    background-color: transparent; }
  .Navbar__direct {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    margin: 0; }
  .Navbar__main {
    padding: 0.5rem 2.5rem; }
  .Footer__history, .Footer__link {
    margin-bottom: 2rem; }
  .Footer__link {
    width: max-content; } }
